* {
	text-decoration: none;
	color: inherit;
}

html {
	height: 100%;
	background-color: rgb(233, 246, 255);
}

.header {
	height: 50px;
	padding: 0px 40px;
	box-shadow: 5px 5px 10px #6385b924;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo-box img {
	height: 50px;
	/* 로고 이미지의 높이를 고정 (필요에 따라 조정) */
	width: auto;
	/* 비율을 맞추기 위해 너비는 자동 조정 */
}

nav {
	display: flex;
	gap: 18px;
	margin-left: auto;
	margin-right: auto;
}

nav>p {
	margin-top: 70px;
	font-size: 10px;
	color: #8b8b8b;
	font-weight: 500;
}

nav>p:hover {
	color: #495c92;
	font-weight: 700;
	padding-bottom: 6px;
	border-bottom: 2px solid #6c799b;
}

nav .selected {
	color: #3c526b;
	font-weight: 800;
	padding-bottom: 6px;
	border-bottom: 2px solid #495c92;
}

.user {
	display: flex;
	align-items: center;
	gap: 10px;
}

.user img {
	height: 20px;
	width: auto;
}

.header-right {
	color: #495c92;
	align-items: center;
	font-weight: 600;
	line-height: 0%;
	font-size: 12px;

	display: flex;
	gap: 20px;
	flex-direction: row;
}

body {
	display: flex;
	height: 100%;
	justify-content: start;
	flex-direction: column;
	margin: auto;
}

.box {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 20px;
	font-weight: 700;
}

.container {
	padding: 0px;
	align-content: center;
	flex-direction: column;
	gap: 20px;
	margin: auto;
	margin-top: 50px;
}

.video-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.video-card {
	background-color: #ffffff;
	padding: 20px 20px;
	border-radius: 10px;
	width: 300px;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 10px #6385b924;
}

iframe {
	width: 100%;
	height: 100%;
}

.video-title {
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 0;
}

.video-text {
	font-size: 10px;
}

.button-box {
	display: flex;
	gap: 5px;
	justify-content: end;
}

.button-box>button {
	box-shadow: 5px 5px 10px #6385b924;
	border: none;
	background-color: #cdd9f5;
	font-size: 10px;
	padding: 4px 6px;
	border-radius: 5px;
}

.button-box>button:hover {
	box-shadow: 5px 5px 10px #6385b924;
	border: none;
	background-color: #495c92;
	color: #ffffff;
	font-size: 10px;
	padding: 4px 6px;
	border-radius: 5px;
}

footer {
	display: flex;
	width: 100%;
	background-color: #a2b0d1;
	color: #eeeeee;
	padding: 30px 20px;
	flex-direction: column;
}

.footer-text {
	justify-content: center;
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.footer-text p {
	font-size: 9px;
	color: #ffffff;
}

.footer-extra {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.footer-extra p {
	font-size: 9px;
	line-height: 9px;
	margin: 0;
}

hr {
	margin-top: 40px;
	border: none;
	height: 0.5px;
	background-color: #c8d4f5;
}